.DS_Store
__pycache__
.ipynb_checkpoints
__MACOSX

experiments
datasets/**/*.png
datasets/**/*.jpg
datasets/**/*.svg

figures/trainingSetup/PlotNeuralNet/*
figures/**/*.jpg
*.eps

*.log
*.aux
*.bbl
*.blg
